<h1 class="text-3xl">Contacto</h1>
<hr class="my-2 text-gray-200" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, neque nemo
    odit consectetur, harum omnis iste excepturi pariatur fuga quasi rerum,
    nihil accusamus fugit amet doloribus ab. Ratione, unde officiis. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Optio aperiam, sed
    eveniet voluptate rerum ex quisquam exercitationem atque et, officiis, dolor
    facilis earum! Debitis obcaecati tenetur quia incidunt quis quas.
  </p>
</section>
